@use "sass:map";
@use "sprite";

@font-face {
  font-family: "Minecraft";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("./minecraft.woff2") format("woff2");
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #000;

    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 160%;
}

#mcmap {
    width: 100%;
    height: 100%;
}

.infoWindow {
    height: 130px;
    width: 130px;
}

.infoWindow>img {
    width:80px;
    float: left;
    image-rendering: -moz-crisp-edges;
}

.infoWindow>p {
    text-align: center;
    font-family: monospace;
}

.customControl {
    padding: 5px;
    height: 15px;
    color: black;
    font-family: Arial, sans-serif;
}

.customControl > select {
    font-size: 12px;
    line-height: 160%;
    text-align: center;

    border: 1px solid #A9BBDF;
    border-radius: 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;

}

.customControl > div.top {
    font-size: 12px;
    line-height: 160%;
    text-align: center;
    padding: 0px 6px;

    background-image: url('control-bg.png');
    background-repeat: repeat-x;

    border: 1px solid #A9BBDF;
    border-radius: 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;
    cursor: pointer;
}

.customControl > div.top:hover {
    border: 1px solid #678AC7;
}

.customControl > div.top-active {
    color: white;
    font-weight: bold;
    padding: 0px 5px;
    border: 1px solid #678AC7;
    background-image: url('control-bg-active.png');
}

.customControl > div.dropDown {
    font-size: 12px;
    background-color: white;

    border: 1px solid #A9BBDF;
    border-radius: 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;

    display: none;
}

.customControl > div.button {
    border: 1px solid #000;
    font-size: 12px;
    background-color: #fff;
    display: none;
}


#link, #coordsDiv, #progressDiv {
    background-color: #fff;
    background-color: rgba(255,255,255,0.55);
    border: 1px solid rgb(0, 0, 0);
    font-size: 9pt;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 1px;
}

#link:hover {
    background-color: #fff;
    background-color: rgba(255,255,255,0.8);
}

#searchControl {
    padding: 5px;
    height: 20px;
    font-family: Arial, sans-serif;
}

#searchControl > input {
    border: 2px solid #000;
    font-size: 12pt;
    width: 20em;
    background-color: #fff;
}

#searchControl>input.inactive {
    color: #ccc;
}

#searchControl>input.active {
    color: #000;
}

div#searchDropDown {
    border: 1px solid #000;
    width: 17em;
    font-size: 14pt;
    background-color: #fff;
    display: none;
}

div.searchResultItem  {
    overflow: hidden;
    text-overflow: ellipsis;
}

div.searchResultItem img {
    width: 24px;
    height: 24px;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}

img.ov-marker {
    margin-left: -16px;
    margin-top: -30px;
    padding-bottom: 12px;
}

.progress, .coordbox {
    background-color: rgba(255,255,255,0.4);
    padding: 0px 4px;
}

img.ov-marker-legend {
    float: left;
    height: 20px;
}

.leaflet-control-layers label {
    display: block;
    min-height: 20px;
}


.signtext {
    background-image: url(./oak_planks.png);
    background-size: 71px 71px;
    background-position-y: 11px;
    image-rendering: pixelated;

    text-align: center;

    color: #000;
    font-family: "Minecraft";
    font-size: 13px;
    padding: 10px;
}

.signtext.mcpoi-hanging {
    background-image: url(./stripped_oak_log.png);
    background-size: 114px 114px;
}

$dye-colours: (
    "white": ("dye": #F9FFFE, "glow": #FCFCFC, "edge": #656565),
    "light_gray": ("dye": #9D9D97, "glow": #D0D0D0, "edge": #535353),
    "gray": ("dye": #474F52, "glow": #7E7E7E, "edge": #323232),
    "black": ("dye": #1D1D21, "glow": #000000, "edge": #EDE8CA),
    "brown": ("dye": #835432, "glow": #894413, "edge": #361B07),
    "red": ("dye": #B02E26, "glow": #FC0000, "edge": #650000),
    "orange": ("dye": #F9801D, "glow": #FC671F, "edge": #65280C),
    "yellow": ("dye": #FED83D, "glow": #FCFC00, "edge": #656500),
    "lime": ("dye": #80C71F, "glow": #8DFC00, "edge": #4B6500),
    "green": ("dye": #5E7C16, "glow": #00FC00, "edge": #006500),
    "cyan": ("dye": #169C9C, "glow": #00D6D6, "edge": #006565),
    "light_blue": ("dye": #3AB3DA, "glow": #98BECB, "edge": #3C4B51),
    "blue": ("dye": #3C44AA, "glow": #0000FC, "edge": #000065),
    "purple": ("dye": #8932B8, "glow": #9E20ED, "edge": #3F0C5F),
    "magenta": ("dye": #C74EBD, "glow": #FC00FC, "edge": #650065),
    "pink": ("dye": #F38BAA, "glow": #FC68B2, "edge": #652947),
);

@each $colour in ("orange", "yellow", "lime", "cyan", "light_blue", "magenta", "pink", "light_gray") {
    .mcpoi-normal {
        &.signtext.mccolor-#{$colour} {
            background-image: url(./dark_oak_planks.png);

            &.mcglow-1 {
                background-image: url(./oak_planks.png);
            }
        }
    }
    .mcpoi-hanging {
        &.signtext.mccolor-#{$colour} {
            background-image: url(./stripped_dark_oak_log.png);

            &.mcglow-1 {
                background-image: url(./stripped_oak_log.png);
            }
        }
    }
}

@each $colour in ("brown", "green") {
    .mcpoi-normal {
        &.signtext.mccolor-#{$colour} {
            background-image: url(./birch_planks.png);

            &.mcglow-1 {
                background-image: url(./oak_planks.png);
            }
        }
    }
    .mcpoi-hanging {
        &.signtext.mccolor-#{$colour} {
            background-image: url(./stripped_birch_log.png);

            &.mcglow-1 {
                background-image: url(./stripped_oak_log.png);
            }
        }
    }
}

@each $colour, $data in $dye-colours {
    .mccolor-#{$colour} {
        color: map.get($data, "dye");

        &.mcglow-1 {
            text-shadow:
                    0 0 5px map.get($data, "edge"), 0 0 5px map.get($data, "edge"), 0 0 5px map.get($data, "edge"),
                    0 0 5px map.get($data, "edge"), 0 0 6px map.get($data, "edge"), 0 0 6px map.get($data, "edge");
            color: map.get($data, "glow");
        }
    }
}


/* Custom JSON text data */
.mctext-black { color: #000000; }
.mctext-dark_blue { color: #0000AA; }
.mctext-dark_green { color: #00AA00; }
.mctext-dark_aqua { color: #00AAAA; }
.mctext-dark_red { color: #AA0000; }
.mctext-dark_purple { color: #AA00AA; }
.mctext-gold { color: #FFAA00; }
.mctext-gray { color: #AAAAAA; }
.mctext-dark_gray { color: #555555; }
.mctext-blue { color: #5555FF; }
.mctext-green { color: #55FF55; }
.mctext-aqua { color: #55FFFF; }
.mctext-red { color: #FF5555; }
.mctext-light_purple { color: #FF55FF; }
.mctext-yellow { color: #FFFF55; }
.mctext-white { color: #FFFFFF; }

.mctext-bold { font-weight: bolder; }
.mctext-italic { font-style: italic; }
.mctext-underlined { text-decoration: underline;}
.mctext-strikethrough { text-decoration: line-through;}
.mctext-strikethrough.mctext-underlined { text-decoration: line-through underline;}
.mctext-obfuscated {
    text-shadow: 0 0 6px black,0 0 6px black,0 0 6px black,0 0 6px black,0 0 8px black,0 0 8px black;
    color: transparent;
}

.infoWindow-entity-wrapper, .infoWindow-grave-wrapper {
    display: flex;
    flex-direction: row;
}

.infoWindow-entity-text, .infoWindow-grave-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    h4 {
        margin-top: 0px;
        margin-bottom: 3px;
    }
}

$grave_width: 190px;
$grave_height: 150px;

.infoWindow-grave-wrapper {
    background-image: url(./stone.png);
    background-size: 50%;
    image-rendering: pixelated;

    border: 0 white;
    border-radius: 40px 40px 0 0;
}

.infoWindow-grave-wrapper {
    width: $grave_width;
    height: $grave_height;

    .infoWindow-grave-overlay{
        background-color: rgba(255, 255, 255, 0.50);
        width: 100%;

        .infoWindow-grave-text {
            font-family: "Minecraft";
            white-space: nowrap;
            text-align: center;
            margin: 30px 10px 40px;

            .mctext-white {
                // artistic license.
                @extend .mctext-black;
            }
        }
    }
}

.leaflet-popup-content>ul {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

li.rail-line, p.rail-line {
    margin-top: 0;
    margin-bottom: 10px;
    & > strong {
        border-bottom: black 4px solid;
        padding-right: 10px;
        border-left: black 4px solid;
        border-radius: 4px;
        padding-left: 3px;
    }

    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.worldcontrol.leaflet-control select {
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 4px 4px 4px 7px;
}

#mcmap.night-render {
    .leaflet-popup-content-wrapper,
    .leaflet-popup-tip,
    .leaflet-control-layers-expanded,
    .leaflet-bar a,
    .worldcontrol.leaflet-control select {
        background-color: #3a3a3a;
        color: #cccccc;
        border-color: #888;
    }
    .leaflet-bar a.leaflet-disabled{
        background-color: #282828;
        color: #888;
        border-color: #ccc;
    }

    .leaflet-control-attribution, .progress, .coordbox {
        background-color: #3a3a3a;
        color: #cccccc;

        a {
            color: #57b6e0
        }
    }
}