@use "sass:list";

$spriter1: (allay, axolotl, bat, camel, cat, chicken_temperate, cod, cow_temperate, donkey, frog);
$spriter2: (glow_squid, horse, mooshroom, mule, ocelot, parrot, pig_temperate, pufferfish, rabbit, "salmon");
$spriter3: (sheep_white, skeleton_horse, sniffer, snow_golem, squid, strider, tadpole, tropical_fish, turtle, villager);
$spriter4: (wandering_trader, bee, cave_spider, dolphin, drowned, enderman, fox, goat, iron_golem, llama);
$spriter5: (trader_llama, panda, piglin, polar_bear, spider, wolf, zombified_piglin, blaze, creeper, elder_guardian);
$spriter6: (endermite, evoker, ghast, guardian, hoglin, husk, magma_cube, phantom, piglin_brute, pillager);
$spriter7: (ravager, shulker, silverfish, skeleton, slime, stray, vex, vindicator, warden, witch);
$spriter8: (wither_skeleton, zoglin, zombie, zombie_villager, ender_dragon, wither, armadillo, breeze, illusioner, bogged);
$spriter9: (pig_cold, pig_warm, sheep_orange, sheep_magenta, sheep_light_blue, sheep_yellow, sheep_lime, sheep_pink, sheep_gray, sheep_light_gray);
$spriter10: (sheep_cyan, sheep_purple, sheep_blue, sheep_brown, sheep_green, sheep_red, sheep_black, cow_warm, cow_cold, chicken_cold);
$spriter11: (chicken_warm, copper_golem, creaking, happy_ghast);

$spriteRowList: ($spriter1, $spriter2, $spriter3, $spriter4, $spriter5, $spriter6, $spriter7, $spriter8, $spriter9, $spriter10, $spriter11);

@mixin sprite($x, $y, $zoom: 1) {
  background-image: url(./mobs.png);
  background-repeat: no-repeat;
  background-position-x: ($x - 1) * -16px * $zoom;
  background-position-y: ($y - 1) * -16px * $zoom;
}

@each $spriteList in $spriteRowList {
  @each $mob in $spriteList {
    div.icon.mc-entity-#{$mob} {
      @include sprite(list.index($spriteList, $mob), list.index($spriteRowList, $spriteList), 2);

      background-size: 1000%;
      width: 32px;
      height: 32px;

      image-rendering: pixelated;
    }


    div.leaflet-marker-icon .ov-marker.mc-entity-#{$mob} {
      @include sprite(list.index($spriteList, $mob), list.index($spriteRowList, $spriteList));

      width: 0px;
      height: 0px;
      padding: 8px;

      display: inline-block;

      image-rendering: pixelated;
    }
  }
}
